---
import "../../../app.postcss";

interface Props {
	title: string;
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<noscript>
			<aside>
				<p><strong>Heads up!</strong></p>
				<p>
					We've noticed your browser does not have JavaScript enabled!
					While we're currently making an effort to function without
					JavaScript, the functionality is incomplete. If you can, we
					recommend enabling JavaScript in your browser for the best
					experience!
				</p>
			</aside>
		</noscript>
		<slot />
	</body>
	<script>
		document.body.classList.add("js");
	</script>
</html>
